<ion-header>
  <ion-toolbar>
    <ion-title class="titulo-animado">Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <mat-card class="perfil-card" style="margin-bottom: 20px;"> 
    <mat-card-title>Resumen de Usuario</mat-card-title>
    <mat-card-content>
      <p><strong>Nombre:</strong> {{ nombre || 'No ingresado' }}</p>
      <p><strong>Apellido:</strong> {{ apellido || 'No ingresado' }}</p>
      <p><strong>Educación:</strong>
  <mat-chip color="accent" selected *ngIf="educacion">{{ educacion }}</mat-chip>
  <span *ngIf="!educacion">No seleccionada</span>
</p>
      <p><strong>Fecha de nacimiento:</strong> {{ fechaNacimiento || 'No indicada' }}</p>
    </mat-card-content>
  </mat-card>

  <ion-item [class.shake]="animarNombre">
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="nombre"></ion-input>
  </ion-item>

  <ion-item [class.shake]="animarApellido">
    <ion-label position="floating">Apellido</ion-label>
    <ion-input [(ngModel)]="apellido"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Nivel de Educación</ion-label>
    <ion-select [(ngModel)]="educacion">
      <ion-select-option value="Basica">Básica</ion-select-option>
      <ion-select-option value="Media">Media</ion-select-option>
      <ion-select-option value="Superior">Superior</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Fecha de nacimiento</ion-label>
    <ion-input [(ngModel)]="fechaNacimiento" type="date"></ion-input>
  </ion-item>

  <ion-button id="btnGuardar" expand="block" color="primary" (click)="guardarDatos(); animarBoton()">
    Guardar Datos
  </ion-button>

  <ion-button expand="block" color="medium" (click)="limpiarCampos()">
    Limpiar
  </ion-button>

  <ion-button expand="block" color="medium" routerLink="/home">
    ⬅️ Volver al Home
  </ion-button>

</ion-content>