<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Iniciar Sesión</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <!-- Campo de Usuario -->
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input type="text" [(ngModel)]="usuario" minlength="3" maxlength="8" required
          pattern="[a-zA-Z0-9]*"></ion-input>
      </ion-item>

      <!-- Campo de Contraseña -->
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="clave" maxlength="4" required inputmode="numeric"
          pattern="[0-9]*"></ion-input>
      </ion-item>

      <ion-button expand="block" color="primary" (click)="ingresar()">
        Agregar
      </ion-button>

      <!-- Enlace alternativo -->
      <ion-button fill="clear" size="small" color="medium">

        ¿Olvidaste tu contraseña?
      </ion-button>

      <!-- Íconos de redes sociales -->
      <div class="redes-sociales" style="text-align: center; margin-top: 20px;">
        <ion-icon name="logo-facebook" size="large" style="margin: 0 10px; color: #3b5998;"></ion-icon>
        <ion-icon name="logo-instagram" size="large" style="margin: 0 10px; color: #C13584;"></ion-icon>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>