<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h2>Bienvenido, {{ nombreUsuario }}</h2>

  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Apellido</ion-label>
    <ion-input [(ngModel)]="apellido"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Nivel de Educación</ion-label>
    <ion-select [(ngModel)]="educacion">
      <ion-select-option value="Basica">Básica</ion-select-option>
      <ion-select-option value="Media">Media</ion-select-option>
      <ion-select-option value="Superior">Superior</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Fecha de Nacimiento</ion-label>
    <ion-input [(ngModel)]="fechaNacimiento" placeholder="dd/mm/aaaa"></ion-input>
    <!-- MatDatepicker se agregará luego -->
  </ion-item>

  <ion-button expand="block" color="danger" (click)="limpiarCampos()">
    Limpiar
  </ion-button>

  <ion-button expand="block" color="success" (click)="mostrarDatos()">
    Mostrar
  </ion-button>

</ion-content>
