<ion-header>
  <ion-toolbar>
    <ion-title class="titulo-animado">Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h2 style="text-align: center;">Hola, {{ nombreUsuario }} 👋</h2>

  <ion-card>
    <ion-card-header>
      <ion-card-title>¿Qué deseas hacer hoy?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" routerLink="/tareas" color="warning" @fadeIn>
        📋 Ver Tareas
      </ion-button>

      <ion-button expand="block" routerLink="/contactos" color="secondary" @fadeIn>
        👥 Ver Contactos
      </ion-button>

      <ion-button expand="block" routerLink="/perfil" color="medium" @fadeIn>
        🙍‍♀️ Mi Perfil
      </ion-button>

      <ion-button expand="block" routerLink="/calendario" color="success" @fadeIn>
        📅 Ver Calendario
      </ion-button>


    </ion-card-content>
  </ion-card>

</ion-content>